.header__lang-ru_selected {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    width: 30px;
    height: 18px;
    color: #ffff;
    text-decoration-line: underline;
}