@import url('./__url/website__url.css');
@import url('./__url-heading/website__url-heading.css');
.place__website {
    width: 100%;
    display: flex;
    margin-top: 87px;
    margin-bottom: 60px;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .place__website {
        margin-top: 60px;
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 425px) {
    .place__website {
        display: none;
    }
}