.cover__title {
    font-family: Inter-ExtraBold;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #f12f2f;
    margin-top: 274px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    z-index: 1;
    opacity: 0;
    }
   
@media screen and (min-width: 1024px) {
    .cover__title {
        width: 92%;
        font-size: 72px;
        line-height: 78px;
        margin-top: 274px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 93%;
        font-size: 72px;
        line-height: 78px;
        margin-top: 165px;
    }
}

@media screen and (max-width: 375px) {
    .cover__title {
        width: 91%;
        font-size: 32px;
        line-height: 35px;
        margin-top: 104px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
    }
}