.place__title {
    width: 100%;
    font-family: Inter-ExtraBold;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 65px;
    color: #FFFFFF;
    margin-bottom: 60px;
    margin-top: 62px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 100px;
        margin-top: 62px;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        width: 95%;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 375px) {
    .place__title {
        margin-left: 16px;
    }
}